export AFP_SERVER=umac.jibb.tv
export AFP_VOLUME=zen
export AFP_USER=blake
export AFP_PASSWORD="powder!"
export VMWARE_REST_API_HOST=darkstar.jibb.tv
export VMWARE_REST_API_USER=blake
export VMWARE_REST_API_PASS="powder!123"
export VMWARE_REST_API_PORT="8697"