<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleDisplayName</key>
  <string>Lan Mouse</string>
  <key>CFBundleExecutable</key>
  <string>lan-mouse</string>
  <key>CFBundleIdentifier</key>
  <string>de.feschber.LanMouse</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Lan Mouse</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.10.0</string>
  <key>CFBundleVersion</key>
  <string>20250912.220047</string>
  <key>CSResourcesFileMapped</key>
  <true/>
  <key>LSRequiresCarbon</key>
  <true/>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSCameraUsageDescription</key>
  <string>Lan Mouse needs access to capture input events to share mouse and keyboard across devices.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Lan Mouse needs access to capture input events to share mouse and keyboard across devices.</string>
  <key>NSSystemAdministrationUsageDescription</key>
  <string>Lan Mouse needs access to capture and simulate input events to share mouse and keyboard across devices.</string>
</dict>
</plist>
